import("methods")
import("FLCore")
import("data.table")
import("FLash")
import("FLBRP")
import("grid")
import("foreach")
import("ggplotFL")
importFrom("FLife",
  "rnoise")
importFrom("ggstance",
  "geom_linerangeh")
importFrom("stats", "optimize")
importFrom("utils", "data", "setTxtProgressBar")
import("r4ss")
exportPattern("^[^\\.]")
