import("methods")
import("FLCore")
import("data.table")
importFrom("ggstance",
  "geom_linerangeh")
importFrom("stats", "optimize")
importFrom("utils", "data", "setTxtProgressBar")
import("r4ss")
exportPattern("^[^\\.]")
